In [21]:
import pandas as pd
from typing import Dict

In [23]:
bins = {
     "age": [
         {
             "label": "minor",
             "max": 18
         },
         {
             "label": "young-adult",
             "max": 30
         },
         {
             "label": "adult",
             "max": 50
         },
         {
             "label": "senior",
             "max": 100
         }
    ],
    "income": [
         {
             "label": "junior",
             "max": 25000
         },
         {
             "label": "mid",
             "max": 60000
         },
         {
             "label": "senior",
             "max": 100000
         }
    ]
}

In [24]:
data = pd.DataFrame(
 [(25, 75000), (28, 55000), (17, 5000), (32, 98000), (40, 62000)],
 columns=["age", "income"]
)
data

   age  income
0   25   75000
1   28   55000
2   17    5000
3   32   98000
4   40   62000

In [25]:
# Prueba para separar en listas
age_max = []
for i in range(len(bins["age"])):
     age_max.append(bins["age"][i]["max"])
age_label = []
for i in range(len(bins["age"])):
     age_label.append(bins["age"][i]["label"])
income_max = []
for i in range(len(bins["income"])):
     income_max.append(bins["income"][i]["max"])
income_label = []
for i in range(len(bins["income"])):
     income_label.append(bins["income"][i]["label"])

In [26]:
age_max, age_label

([18, 30, 50, 100], ['minor', 'young-adult', 'adult', 'senior'])

In [27]:
income_max, income_label

([25000, 60000, 100000], ['junior', 'mid', 'senior'])

In [28]:
def categorize(data: pd.DataFrame, bins: Dict) -> pd.DataFrame:
 # Convertimos bins en listas para cada uno de age e income
    age_max = []
    for i in range(len(bins["age"])):
         age_max.append(bins["age"][i]["max"])
    age_label = []
    for i in range(len(bins["age"])):
        age_label.append(bins["age"][i]["label"])
    income_max = []
    for i in range(len(bins["income"])):
        income_max.append(bins["income"][i]["max"])
    income_label = []
    for i in range(len(bins["income"])):
        income_label.append(bins["income"][i]["label"])
    #Cambiamos si es 18 o 30 0 50 o 100 por el label usado
    age_letters = []
    for i in range(len(data["age"])):
        if data["age"][i] <= age_max[0]:
             age_letters.append(age_label[0])
        elif data["age"][i] <= age_max[1]:
             age_letters.append(age_label[1])
        elif data["age"][i] <= age_max[2]:
             age_letters.append(age_label[2])
        else:
             age_letters.append(age_label[3])

     # Cambiamos 25000 o 60000 o 100000 por el label usado
    income_letters = []
    for i in range(len(data["income"])):
        if data["income"][i] <= income_max[0]:
            income_letters.append(income_label[0])
        elif data["income"][i] <= income_max[1]:
            income_letters.append(income_label[1])
        else:
            income_letters.append(income_label[2])

    new_data = pd.DataFrame()
    new_data["age"] = age_letters
    new_data["income"] = income_letters
    return new_data

In [29]:
output = categorize(data, bins)
output

           age  income
0  young-adult  senior
1  young-adult     mid
2        minor  junior
3        adult  senior
4        adult  senior